/* Reset margin and set font-family for body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Style for code elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
